<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <a class="navbar-brand" href="#">Compras App</a>

        <ul class="navbar-nav mr-auto w-100 justify-content-end">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="isAuth()">
                <a class="nav-link" routerLink="/">Inicio </a>
            </li>

            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="isAuth()">
                <a class="nav-link" routerLink="/proveedores">Proveedores </a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="isAuth()">
                <a class="nav-link" routerLink="/presupuestos">Presuestos</a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="isAuth()">
                <a class="nav-link" routerLink="/facturas">Facturas</a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="isAuth()">
                <a class="nav-link" routerLink="/contratos">Contratos</a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="!isAuth()">
                <a class="nav-link" routerLink="/iniciosesion">Inicie sesión</a>
            </li>
            <li class="nav-item" *ngIf="isAuth()">
                <button class="btn btn-primary float-md-right" (click)="onLogout()">Cerrar sesión</button>
            </li>
        </ul>
    </div>
</nav>