<h1>Listado de Proveedores</h1>
<a class="btn btn-primary float-md-right" routerLink="/addprovee">Añadir
    nuevo proveedor</a>
<br>
<br>
<input type="search" class="form-control" placeholder="Teclee un Proveedor..." [formControl]=" campoBusqueda">

<div *ngIf="cargando" class="text-center" style="padding-top: 60px;">
    <i class="fa fa-refresh fa-spin"></i>
</div>
<div *ngIf="resultados">
    <table class="table table-bordered table-striped tabla" style="margin-top: 40px;">
        <thead>
            <tr class="filters">
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let proveedor of proveedores">
                <td>{{proveedor.nombre}}</td>
                <td>{{proveedor.email}}</td>
                <td>{{proveedor.telefono}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="noresultados">
    <p>No existe ninguna coincidencia</p>
</div>