<div class="card p-3">
    <h4 class="card-title">Contrato</h4>
    <p class="card-text">{{ upload.name }}</p>
    <a href="{{upload.url}}" class="btn btn-primary float-md-left">Visualizar</a>
    <button class="btn btn-danger float-md-right" (click)='deleteUpload(upload)'>Eliminar</button>
</div>