<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
        <h2>Añadir nuevo proveedor</h2>
        <form (ngSubmit)="onSubmit()" #formpro="ngForm">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control" id="nombre" ngModel name="nombre">
            </div>
            <div class="form-group">
                <label for="cif">C.I.F.</label>
                <input type="text" class="form-control" id="cif" ngModel name="cif">
            </div>
            <div class="form-group">
                <label for="direccion">Dirección</label>
                <input type="text" class="form-control" id="direccion" ngModel name="direccion">
            </div>
            <div class="form-group">
                <label for="cp">Código Postal</label>
                <input type="text" class="form-control" id="cp" ngModel name="cp">
            </div>
            <div class="form-group">
                <label for="localidad">Localidad</label>
                <input type="text" class="form-control" id="localidad" ngModel name="localidad">
            </div>
            <div class="form-group">
                <label for="provincia">Distrito</label>
                <select class="form-control" id="provincia" ngModel name="provincia">
                    <option value="">Seleccione la distrito</option>
                    <option *ngFor="let provincia of provincias" [value]="provincia">{{provincia}} </option>
                </select>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="number" class="form-control" id="telefono" ngModel name="telefono">
            </div>
            <div class="form-group">
                <label for="email">Correo Electrónico</label>
                <i class="fa fa-check-circle check" *ngIf="email.valid"></i>
                <i class="fa fa-exclamation-circle uncheck" *ngIf="email.invalid && email.touched"></i>
                <input type="text" class="form-control" id="email" ngModel name="email" required email #email="ngModel">
                <p class="alert alert-danger" *ngIf="email.invalid && email.touched"> Por favor introduzca una dirección de correo correcta.
                </p>
            </div>
            <div class="form-group">
                <label for="contacto">Persona de contacto</label>
                <input type="text" class="form-control" id="contacto" ngModel name="contacto">
            </div>
            <button type="submit" class="btn btn-success">
                Añadir Proveedor</button>
        </form>
        <hr>
        <pre>{{ proveedor | json }}</pre>

    </div>
</div>